/* Navbar.css */
.navbar {
    background-color: #FF6900;
    padding: 10px;
    text-align: center;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  